section {
    margin: auto;
    margin-top: 5%;
    width: 50%;
    width: 800px;
    height: 750px;
}
h1{
    font-weight: bold;

}
body, html {
    height: 100%;
    /* The image used */
    background-image: url("./Image/images2jpg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}


img{

  margin-left:2%;
    margin-right: auto;


}

.title2{
    margin-right: 10%;
}
section div {

    height: 10px;
    width: 10px;
    float:left;
}
.before::before, .after::after {
    content: "\A";
    white-space: pre;

}


section div.border {

    background-color: black;
}

section div.gamefield {

     background-color: lightblue;
 }

section div.snake {

    background-color: greenyellow;

}

section div.food {
    background-color: red;
}


